# Copie este contenido a Streamlit Cloud > Settings > Secrets y cambie valores.
[users.admin]
password = "CAMBIAR"
role = "Administrador"
name = "Administrador"

[users.bodega]
password = "CAMBIAR"
role = "Bodega"
name = "Bodega"

[users.vendedor1]
password = "CAMBIAR"
role = "Vendedor"
name = "Vendedor 1"

[users.vendedor2]
password = "CAMBIAR"
role = "Vendedor"
name = "Vendedor 2"

[users.vendedor3]
password = "CAMBIAR"
role = "Vendedor"
name = "Vendedor 3"

spreadsheet_id = "ID_DEL_GOOGLE_SHEET"
worksheet_name = "REPORTES"

[gcp_service_account]
type = "service_account"
project_id = "..."
private_key_id = "..."
private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
client_email = "..."
client_id = "..."
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "..."
